<!DOCTYPE html>
<html lang="" style="height: 100%;" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>DRIVE MOTO</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <app-home></app-home>
    </div>
    <!-- built files will be auto injected -->
    <script src="/dist/build.js"></script>
  </body>
</html>
<style>
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:auto;
  }
</style>



</style>

