<template>
    <div class="main">
      <HeaderComponent />
    </div>
    <div class="swiper">
      <SwiperComponent />
    </div>
    <Search />
    <Categories />
    <div class="contenerComponent">
      <ContainerComponent />
    </div>
    <div class="add-block">
      <p class="p">
          CКИДКИ
          на все запчасти
          до 70%
        </p>
      <div class="block_Cont">
        <div class="left_Img">
          <img src="../assets/car1.svg" alt="">
          <img src="../assets/car2.svg" alt="">
        </div>
        <div class="center">
          <p>
            CКИДКИ
            на все запчасти
            до 70%
          </p>
          <button class="btn2">ПОСМОТЕТЬ ВСЕ</button>
        </div>
        <div class="right_Btn">
          <button class="btn">ПОСМОТЕТЬ ВСЕ</button>
          <img src="../assets/car2.svg" alt="">

        </div>
      </div>
    </div>
<<<<<<< HEAD
    <div class="contenerComponent">
      <ContainerComponent />
    </div>
=======
    <ContainerComponents />
>>>>>>> ef10e9715e96aa361b52d8511c155334197c3f54
    <div class="footer">
      <FooterComponent/>
    </div>
  </template>
  
  <script>
  import HeaderComponent from '../components/HeaderComponent.vue';
  import SwiperComponent from '../components/SwiperComponent.vue';
  import ContainerComponent from "../components/ContainerComponent.vue";
  import ContainerComponents from "../components/ContainerComponents.vue";
  import Search from '../components/Search.vue';
  import Categories from '../components/Categories.vue';
  import FooterComponent from "../components/FooterComponent.vue"
  
  
  export default {
    name: 'HomePage',
    components: {
      HeaderComponent,
      SwiperComponent,
      Search,
      ContainerComponent,
      ContainerComponents,
      Categories,
      FooterComponent
    }
  }
  </script>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
  .add-block {
    width: 70%;
    max-width: 1920px;
    margin: 40px auto;
    background-color: #1C62CD;
    height: 165px;
  }
  
  .block_Cont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  
  } 
  .p {
    display: none;
    font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: 70px !important;
        margin-left: 150px;
        padding-top: 20px;
    color: white;
    font-family: Roboto ;


  }
  .center {
    width: 308px;
    height: 100px;
    color: white;
    font-weight: 700;
    line-height: 36px;
   font-size: 36px;
  }
  .btn {
    font-family: Roboto ;
    width: 200px;
    height: 57px;
    background-color: white;
    font-family: Roboto ;
  }
  .btn2 {
    /* display: none; */
    font-family: Roboto ;
    width: 200px;
    height: 57px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
  }
  .right_Btn img {
    display: none;
  }
  .contenerComponent{
    width: 70%;
    margin: 0 auto;
  }
  </style>
  