<template>
    <HeaderComponent />
    <h1>
      This is products page
    </h1>
</template>
  
<script>
import HeaderComponent from '../components/HeaderComponent.vue';

  export default {
    name: 'ProductsPage',
    components: {
      HeaderComponent
    }
  }
</script>
   
<style>
  h1{
    color: red;
  }
</style>
  