<template>
    <HeaderComponent></HeaderComponent>
    <div class="container">
        <p class="p1 flex">
            Главная 
            <img src="../assets/Back.svg" height="12" alt=""> 
            Гидроциклы
            <img src="../assets/Back.svg" height="12" alt=""> 
            Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
        </p>
        <div class="block1 flex">
            <Block1Left></Block1Left>
            <Block1Right></Block1Right>
        </div>
        <Block2Mirsaid/>
        <ContainerComponent/>
    </div>
    <FooterComponent/>
</template>

<script scoped>
    import HeaderComponent from "../components/HeaderComponent.vue";
    import Block1Left from "./Block1Left.vue";
    import Block1Right from "./Block1Right.vue";
    import Block2Mirsaid from "./Block2Mirsaid.vue";
    import ContainerComponent from "../components/ContainerComponent.vue";
    import FooterComponent from "../components/FooterComponent.vue"

    export default{
        name: "ProductPagesTwo",
        components:{
    HeaderComponent,
    Block1Left,
    Block1Right,
    Block2Mirsaid,
    ContainerComponent,
    FooterComponent
}
    }
</script>

<style scoped>
    .container{
        width: 70%;
        margin: 46px auto 99px;
    }
     
    .flex{
        display: flex;
        align-items: center;
    }

    .p1{
        gap: 5px;
        color: #C4C4C4;
    }

    .block1{
        margin: 36px 0 80px;
        justify-content: space-between;
        gap: 100px;
    }
</style>