<template>
<section class="categories page-section">
    <div class="container">
      <div class="categories__inner">
        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Квадроциклы</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-1.png" alt="" />
          </div>
        </a>

        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Гидроциклы</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-2.png" alt="" />
          </div>
        </a>

        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Катера</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-3.png" alt="" />
          </div>
        </a>

        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Снегоходы</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-4.png" alt="" />
          </div>
        </a>

        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Вездеходы</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-5.png" alt="" />
          </div>
        </a>

        <a href="#" class="categories__item">
          <div class="categories__item-info">
            <h4 class="categories__item-title">Двигатели</h4>
            <p class="categories__item-text">Подробнее</p>
          </div>
          <div class="categories__item-img">
            <img src="../assets/item-6.png" alt="" />
          </div>
        </a>
      </div>
    </div>
  </section>
</template>


<script>
export default{
    name: "CategoriesComponent",
}
</script>

<style>
    
    a {
      text-decoration: none;
    }

:root {
    --color-white: #FFFFFF;
    --color-black: #2F3035;
    --color-black-f: #656464;
    --color-blue: #1C62CD;
    --color-gray: #F0F0F4;
    --color-light-gray: #C4C4C4;
    --color-light-gray-categ: #CDCDCD;
    --color-gray-footer-text: #48494D;
}

.categories .page-section {
  width: 70% !important;
  max-width: 1920px;
  margin: 0 auto !important;
}
.categories__inner {
  /* display: none !important; */
  width: 70%;
    margin: 0px auto;
    max-width: 1920px;
 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 161px;
    width: 70%;
    gap: 20px;
    margin: 40px auto;
    
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid var(--color-light-gray-categ);
    border-radius: 3px;
    width: 100%;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;
    color: black;
}

.categories__item-title {
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
}

.categories__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title {
    color: var(--color-blue);
}

.categories__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-text {
    color: var(--color-light-gray);
    font-size: 14px;
    line-height: 17px;
}

.categories__item-text::after {
    content: url('../assets/link-arrows.svg');
    padding-left: 2px;
}

.categories__item-img {
    text-align: center;
    width: 50%;
}

.categories__item-img img {
    max-width: 100%;
    
}

</style>