<template>
    <div class="contener2">
        <h1>С этим товаром покупают</h1>
        <div class="btns">
            <button>запчасти</button>
            <button>моторы</button>
            <button>шины</button>
            <button>электроника</button>
            <button>инструменты</button>
            <button>аксессуары</button>
        </div>
        <div class="block_of_shoxrux">
            <img class="left" src="../assets/to_left_icon.svg" alt="">
            <div class="grid-cont">
                <!-- <ProductItem/> -->
                <ProductComponent />
            </div>
            <img class="right" src="../assets/to_right_icon.svg" alt="">
        </div>
        <button class="end_btn">Показать еще</button>
    </div>

</template>
  
<script>
// import ProductItem from './ProductItem.vue'
import ProductComponent from './ProductComponent.vue'
export default {
    name: "ContainerComponents",
    components: {
        // ProductItem,
        ProductComponent
    }
}
</script>
  
<style >
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow"

}

.contener2 {
    width: 70%;
    margin: 0px auto;
    max-width: 1920px;

}

.contener2 h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #2F3035;
    margin-bottom: 25px; 

}

.btns {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
}

button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
}

.block_of_shoxrux {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.grid-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.end_btn {
    display: block;
    width: 252px;
    height: 50px;
    background: #F0F0F4;
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #2F3035;
    transition: 300ms ease;
}

.end_btn:hover {
    background-color: #e6e6e8;
}
</style>  