<template>
    <footer class="footer">
        <div class="cont">
            <div class="left_inp">
                <p class="p1">
                    Подпишитесь на нашу рассылку
                    и узнавайте о акция быстрее
                </p>
                <form name="email">
                    <input type="email" placeholder="Введите ваш e-mail:">
                    <button class="btn_footer">Отправить</button>

                </form>
            </div>
            <div class="center_Footer">
                <div class="block1">
                    <label class="b1">
                        <h4>Информация</h4>
                        <a href="#">О компании</a>
                        <a href="#">Контакты</a>
                        <a href="#">Акции</a>
                        <a href="#">Магазины</a>
                    </label>
                    <a class="dogovor" href="#">Договор оферты</a>
                    <select  class="s1">
                        <option selected>Информация</option>
                       <option><a href="#">О компании</a></option>
                       <option><a href="#">Контакты</a></option> 
                       <option><a href="#">Акции</a> </option> 
                       <option><a href="#">Магазины</a></option> 

                    </select>
                </div>
                <div class="block2">
                    <label class="b2">
                        <h4>Интернет-магазин </h4>
                        <a href="#">Доставка и самовывоз</a>
                        <a href="#">Оплата</a>
                        <a href="#">Возврат-обмен</a>
                        <a href="#">Новости</a>
                    </label>
                    <a class="politica" href="#">Политика обработки персональных данных</a>

                    <select class="s2">
                        <option selected>Интернет-магазин</option>
                       <option><a href="#">Доставка и самовывоз</a></option>
                       <option><a href="#">Оплата</a></option> 
                       <option><a href="#">Возврат-обмен</a> </option> 
                       <option><a href="#">Новости</a></option> 

                    </select>


                </div>

            </div>
            <div class="right_Footer">
                <div class="icons">
                    <a href="#"><img src="../icon/inst.svg" alt=""></a>
                    <a href="#"><img src="../icon/vk.svg" alt=""></a>
                    <a href="#"><img src="../icon/fc.svg" alt=""></a>
                    <a href="#"><img src="../icon/yu.svg" alt=""></a>
                </div>
            </div>
        </div>

    </footer>
</template>

<script></script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.footer {
    background: #F0F0F4;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 30px;

}
.s1  {
    font-family: Roboto;
    display: none;
} 
.s2  {
    font-family: Roboto;
    display: none;
} 
.cont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
}

h4 {
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    font-family: "Roboto";
}

.center_Footer {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block1 a {
    font-size: 14px;
    gap: 20px;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    color: #2F3035;
}


.block2 a {
    font-size: 14px;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    color: #2F3035;
}

.btn_footer {
    width: 100px;
    height: 33px;
    background: #1C62CD;
    color: white;
    font-family: "Roboto";
}

input {
    width: 200px;
    height: 33px;
    font-family: "Roboto";
    border: none;
    margin-top: 50px;
}

.icons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b1 {
    display: block;
    margin-left: -150px !important;
}

.b2 {
    display: block;
    margin-left: 70px !important;
}

.dogovor {
    margin-left: -150px !important;
    margin-top: 20px;
    color: #48494D !important;
}

.politica {
    margin-top: 20px;
    color: #48494D !important;
}

.left_imp {
    /* width: 250px; */
    height: 100%;
}

.p1 {
    width: 222px;
    height: 34px;
    color: #2F3035;
    margin-top: -50px;
    font-size: 14px;
    font-weight: 900;
    font-family: "Roboto";
}
</style>
 
