<template>
<<<<<<< HEAD
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <nav class="menu">
            <button class="menu__btn">
              <div class="menu__btn-line"></div>
              <div class="menu__btn-line"></div>
              <div class="menu__btn-line"></div>
            </button>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link">Магазины</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Акции</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Доставка и оплата</a>
              </li>
            </ul>
          </nav>

          <a href="#" class="logo">
            <img src="../img/logo.svg" alt="" class="logo__img" />
          </a>

          <div class="header__box">
            <p class="header__adress">Москва, ул. Науки 25</p>
            <ul class="user__list">
              <li class="user__item">
                <a href="#" class="user__link">
                  <img src="../img/heart.svg" alt="" />
                </a>
              </li>
              <li class="user__item">
                <a href="#" class="user__link">
                  <img src="../img/user.svg" alt="" />
                </a>
              </li>
              <li class="user__item">
                <a href="#" class="user__link basket">
                  <img src="../img/basket.svg" alt="" />
                  <p class="basket__num">1</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <ul class="menu__categories">
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Квадроциклы</a>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Катера</a>
            </li>
            <li class="menu__categories__item">
              <router-link to="/products">
                <a href="#" class="menu__categories__link">Гидроциклы</a>
              </router-link>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Лодки</a>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Вездеходы</a>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Снегоходы</a>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Двигатели</a>
            </li>
            <li class="menu__categories__item">
              <a href="#" class="menu__categories__link">Запчасти</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
=======
  <nav>
    <header>

      <div class="header">
        <div class="navbar">
          <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>

            <div class="menu-items">
              <li><a href="#">Войти</a></li>
              <li><a href="#">Регистрация</a></li>
              <li><a href="#">Избранное</a></li>
              <li><a href="#">Корзина</a></li>
              <li><a href="#">Магазины</a></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Доставка и оплата</a></li>
              <select>
                <option  selected> <li><a href="#">Доставка и оплата</a></li></option>
             <option><li><a href="#">Магазины</a></li></option>  
             <option><li><a href="#">Магазины</a></li></option>  
             <option><li><a href="#">Магазины</a></li></option>  
             <option><li><a href="#">Магазины</a></li></option>  
             <option><li><a href="#">Магазины</a></li></option>  

              </select>  
             


            </div>
          </div>
        </div>
        <div class="left-side">
          <a href="#">Магазины</a>
          <a href="#">Акции</a>
          <a href="#">Доставка и оплата</a>
        </div>
        <img class="logo" src="../assets/лого.svg" alt="">
        <div class="right-side">
          <a class="loc" href="#">
            <img src="../assets/location.svg" alt="">
            Москва, ул. Науки 25
          </a>
          <div class="user">
            <a href="#">
              <img src="../assets/heart.svg" alt="">
            </a>
            <a href="#">
              <img src="../assets/user.svg" alt="">
            </a>
            <a href="#">
              <img src="../assets/cart11.svg" alt="">
            </a>
          </div>
        </div>
      </div>

    </header>
    <div class="bottom">
      <div class="productBlock">
        <a href="">Квадроциклы</a>
        <a href="">Катера</a>
        <router-link to="/products">
          Гидроциклы
        </router-link>
        <a href="">Лодки</a>
        <a href="">Вездеходы</a>
        <a href="">Снегоходы</a>
        <a href="">Двигатели</a>
        <a href="">Запчасти</a>
      </div>
      <div class="mediaBottom">
        <div class="media">
          <a href="">Магазины</a>
          <a href="">Акции</a>
          <a href="">Доставка и оплата</a>
        </div>
      </div>
    </div>
  </nav>
>>>>>>> ef10e9715e96aa361b52d8511c155334197c3f54
</template>

<script>
export default {
  name: "HeaderComponent",
  props: {}
}
</script>

<<<<<<< HEAD
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #2F3035;
  --color-black-f: #656464;
  --color-blue: #1C62CD;
  --color-gray: #F0F0F4;
  --color-light-gray: #C4C4C4;
  --color-light-gray-categ: #CDCDCD;
  --color-gray-footer-text: #48494D;
}

body {
  color: var(--color-black);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.container {
  max-width: 1220px;
  /* width: 100%; */
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}


.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}


.menu__item {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.menu__item+.menu__item {
  padding-left: 50px;
}


.header__box {
  display: flex;
}

.menu__btn {
  display: none;
}

.header__adress {
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.header__adress::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
  background-image: url('../img/adress-icon.svg');
}

.menu-mobile__list {
  width: 243px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transform: translateX(-100%);
  transition: all .3s;
  position: absolute;
  z-index: 10;
  background-color: var(--color-white);
}

.menu__mobile-line-wrapper {
  display: none;
}

.menu-mobile__list--active {
  transform: translateX(0%);
}

.menu-mobile__item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__link {
  display: block;
  padding-left: 53px;
  padding-top: 36px;
}

.menu-mobile__item:last-child {
  font-weight: bold;
  width: 181px;
}

.menu-mobile__img {
  position: absolute;
  left: 11px;
  bottom: 0;
}

.user__list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  text-align: center;
  bottom: -2px;
  right: -13px;
}


.header__bottom {
  margin-bottom: 60px;
}

.menu__categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-gray);
  min-height: 53px;
}

.menu__categories__item {
  position: relative;
}

.menu__categories__link {
  transition: all .3s;
  font-weight: 400;
  padding: 15px 0 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  left: auto;
  bottom: -2px;
  background-color: var(--color-blue);
  height: 3px;
  transition: all .5s;
}

.menu__categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu__categories__link:hover {
  color: var(--color-black);
  font-size: 16px;
=======
<style>
  select {
    width: 200px;
    height: 50px;
    border: none;
 background: no-repeat;
  }
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  padding: 5px;
}

a.router-link-active,
li.router-link-active>a {
  color: red;
}
</style>
<style scoped >
.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header .right-side,
header .left-side,
.right-side .user {
  display: flex;
  align-items: center;
  gap: 50px;
}

.right-side .user {
  gap: 20px
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.bottom {
  width: 100%;
  height: 100%;
  padding: 20px;
  /* background-color: #F0F0F4; */
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.productBlock {

  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.mediaBottom {
  display: none;
}

nav {
  width: 70%;
  margin: 0 auto;
  max-width: 1920px;
}

.block-img {
  width: 80%;
  height: 500px;
  /* background: #000; */
  max-width: 1920px;
  margin: 0 auto;
}



/* <!-- ------------------------------------------------------ --> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px white;
  height: 100vh;
  width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 100 !important;
}

.menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(10%);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
>>>>>>> ef10e9715e96aa361b52d8511c155334197c3f54
}
</style>