<template>
  <div class="hello">
    <div class="btns">
      <button>Поиск по номеру</button>
      <button>Поиск по марке</button>
      <button>Поиск по названию товара</button>
    </div>
    <div class="search">
      <!-- <input class="inp" type="text" placeholder="Введите марку "> -->
      <div class="input">
        <p>
          Введите марку 
        </p>
        <img class="imgSrch" src="../assets/Search.svg" alt="" srcset="">
      </div>
      <button>искать</button>
    </div>
  </div>
</template>

<script>
import "../Media/media.css"

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style>
  
  /* @media only screen and (max-width: 391px) {

 input {
   width: 10%;
   background: #1717b8 !important;

 }
 .hello {
    width: 70%;
    max-width: 1920px;
      margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

} */


  .hello {
    width: 70%;
    max-width: 1920px;
      margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* margin-top: 100px; */
  }
  
  .btns {
    display: flex;
    justify-content: flex-start;
  }
  
  .btns button {
    border: none;
    background-color: transparent;
    padding: 12px 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    transition: 500ms ease;
  }
 
  .btns button:hover {
    background: #F0F0F4;
    color: #2F3035;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search .input {
    width: 100%;
    padding: 15px 20px;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    outline: none;
  }
  
  .search button {
    background: #1C62CD;
    height: 50px;
    padding: 17px 39px;
    border-radius: 3px;
    color: #FFFFFF;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    cursor: pointer;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: -1px;
    color: #656464;

  }
  .imgSrch {
    display: none;
  }
</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
