<template>

    <section>
        <div class="block-img">
            <div class="blockSlid">
                <SliderComponent/>
                <BlockAction/>
            </div>
        </div>

    </section>
</template>

<script>
import BlockAction from './BlockAction.vue'
import SliderComponent from './SliderComponent.vue'


export default {
    name: "SwiperComponent",
    props: {},
    components: {
    BlockAction,
    SliderComponent
}
}
</script>

<style>
.block-img {
    width: 70%;
    margin-top: 50px !important;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 20;
}

.imgHed {
    width: 70%;
    height: 400px;
}
.blockSlid {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
}
</style>