@media only screen and (max-width: 391px) {

    .hello {
        width: 550px !important;
        height: 300px;
        margin-left: 10px !important;
    }

    .search input {
        width: 100% !important;
        background-image: url(../assets/Search.svg) !important;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    .imgSrch {
        display: block !important;
    }

    .btns {
        width: 500px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: center;
    }

    button:nth-child(3) {
        display: none;
    }

    .contener2 h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #2F3035;
    }

    .header {
        width: 70% !important;
        margin-left: -80px !important;
    }

    .swiper {
        width: 300px;
        height: 450px;
        background-position: center;
        background-size: cover;
        background: center;
    }

    .loc {
        display: none !important;
    }

    .left-side {
        display: none !important;
    }

    .productBlock {
        display: none !important;
    }

    .mediaBottom {
        display: flex !important;
        align-items: center;
    }

    .media {
        width: 500px;
        text-align: center;
        margin: 0 auto !important;
    }

    .media a {
        gap: 40px !important;
        margin: 20px;
    }

    .navbar {
        display: block !important;
    }

    .user {
        margin-left: -70px !important;
    }

    .logo {
        margin-right: 200px !important;
        width: 60px;
        margin-top: 10px;
    }

    nav {
        width: 100%;
        margin: 0 auto;
        max-width: 390px;
    }

    .categories__inner {
        /* display: none !important; */
        width: 500px !important;
        height: 500px !important;
        display: flex !important;
        margin-left: 70px !important;
        margin-top: -130px !important;
        flex-wrap: wrap;
    }

    .categories__item {

        width: 400px !important;
    }

    .contener {
        max-width: 400px;
        margin-top: 650px;
        z-index: -30;


    }

    .contener2 {
        max-width: 400px;
        z-index: -30;


    }
    .contener h1 {
        text-align: center;
    }

    .btns {
        gap: 10px;
    }

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .btns button:nth-child(5) {
        display: none !important;
    }

    .btns button:nth-child(6) {
        display: none !important;
    }

    .box {
        width: 400px;
        height: 500px;
        margin-top: 100px !important;
        margin-left: 20px;

    }

    .box2 {
        width: 400px;
        height: 500px;
        /* margin-top: -500px !important; */
        /* background: #000; */
        margin-left: 20px;

    }

    .box:nth-child(2) {
        display: none;
    }

    .box:nth-child(3) {
        display: none;
    }

    .box:nth-child(4) {
        display: none;
    }

    .box2:nth-child(2) {
        display: none;
    }

    .box2:nth-child(3) {
        display: none;
    }

    .box2:nth-child(4) {
        display: none;
    }

    .add-block {
        z-index: -30;

    }

    .bottom {
        width: 550px !important;
        margin-left: -50px;
        z-index: -30;

    }

    .end_btn {
        width: 350px;
        height: 70px;
        margin-top: 50px !important;
        margin-left: 40px !important;
    }

    #act {
        display: none;
    }

    .swiper {
        display: flex;
        width: 550px !important;
        background-position: center;
        background-size: cover;
        background: center;
        margin-left: 10px;
    }

    .blockSlid {
        width: 710px !important;
        margin-top: -40px;
        margin-left: -100px;
    }

    .swiper-slide img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        line-height: 135px;
        margin-top: -80px;
    }

    .search button {
        display: none;
    }

    .block_Cont {   
      margin-left: -10px !important;
      }
    .add-block {
        width: 520px !important;
        max-width: 1920px;
        /* margin: 40px auto; */
        background-color: #1C62CD;
        height: 165px;
        margin-left: 40px !important;
    }

    .left_Img img:nth-child(1) {

        width: 150px;
        height: 74px;
    }
    .left_Img img:nth-child(2) {
        display: none;
    }

    .center p {
        display: none !important;
 
    }
    .p {
        display: block !important;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: -60px !important;
      }
 
    .btn2 {
        display: block !important;
        width: 107px;
        height: 36px;
      }
      .right_Btn img {
        display: block !important;
        width: 150px;
        height: 74px;
      }
    
    .btn {
        display: none;
    }







    .footer {
        background: #F0F0F4;
        width: 600px !important;
        height: 300px !important;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 30px;
        
    
    }
    .center_Footer {
        /* display: none !important; */
        width: 200px !important;
        height: 100px !important;
        display: flex;
        flex-wrap: wrap !important;
    }
    .b1 {
        display: none !important;
     }
      .b2 {
        display: none !important;
     }
     .politica {
        display: none !important;
     }
     .dogovor {
        display: none !important;
     }
     .cont {
        width: 300px !important;
        display: flex;
        flex-wrap: wrap !important;
        margin-top: 10px !important;
     }
     .s1 {
        width: 300px;
        height: 50px;
        border: none;
        margin-top: 10px;
        display: block !important;
     }
     .s2 {
        width: 300px;
        height: 50px;
        border: none;
        margin-top: 10px;
        display: block !important;
     }
     .right_Footer {
        margin-top: 40px;
     }
}